@charset "UTF-8";

/*--Todas as demais Mídias --*/
/*Typical Device  Breakpoints 
 -----------------------------
 Pequenas telas: até 480px
 Celular: de 481px até 767px
 Tablet: de 768px até 1023px
 Grandes(portatil/ecrã pequeno) : de 1024px até 1279px
 Muito grande (Desktop computador de secretaria):de 1280 até 1439
 Extra Grandes telas: acima de 1440px

 sdflskjfjkj
  */

@media print {
   /*Impressão*/


}

@media screen and (min-width: 768px)and (max-width: 1023px) {

   /*Tablet*/
   body {
      background-image: url(../imagens/back-tablet.jpg);
   }

   img#phone {
      display: none;
   }

   img#tablet {
      display: block;
   }

   img#print {
      display: none;
   }

   img#pc {
      display: none;
   }

   img#tv {
      display: none;
   }

}

@media screen and (min-width:1024px) and (max-width:1279px) {

   /*Grandes(portatil/ecrã pequeno) */
   body {
      background-image: url(../imagens/back-pc.jpg);

   }

   img#phone {
      display: none;
   }

   img#tablet {
      display: none;
   }

   img#print {
      display: none;
   }

   img#pc {
      display: block;
   }

   img#tv {
      display: none;
   }


}

@media screen and (min-width: 1280px) and (max-width:1439px) {

   /*Muito grande (Desktop computador de secretaria)*/
   body {
      background-image: url(../imagens/back-pc.jpg);
   }

   img#phone {
      display: none;
   }

   img#tablet {
      display: none;
   }

   img#print {
      display: none;
   }

   img#pc {
      display: block;
   }

   img#tv {
      display: none;
   }


}

@media screen and (min-width:1440px) {

   /* Extra Grandes telas*/
   body {
      background-image: url(../imagens/back-tv.jpg);
   }

   img#phone {
      display: none;
   }

   img#tablet {
      display: none;
   }

   img#print {
      display: none;
   }

   img#pc {
      display: none;
   }

   img#tv {
      display: block;
   }


}